$text-align = left

$prog-pos = bottom

$content-height = 90%
$stat-height = 10%

.reveal .progress
	height:.5em;
	position:absolute;
	{$prog-pos} 0
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	& > span
		background-color: #009CDF!important;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);

.logo
	height:80%;

.stat-bar
	z-index: 9999;
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	position:absolute;
	font-weight:100;
	display: flex;
	@media screen and (min-width: 1400px)
		font-size:2em;
	justify-content: flex-start;
	align-items: center;
	.stat-left
		margin-left:1em;
	.stat-center
		text-align:center;
	.stat-right
		margin-right:1em;
		text-align:right;
	.stat-left,
	.stat-center,
	.stat-right
		width:33.3%;


	.location
		text-transform:capitalize;
		margin:0;

.overlay
	color:#fff;
	background-color:#000;
	z-index:9999;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:3em;
	flex-direction: column;
	text-align: center;
	//opacity:0;
	&.High
		background-color:rgba(231, 75, 61, 0.97);
	&.Medium
		background-color:rgba(231, 172, 61, 0.97);
	h1
		text-transform:uppercase;
	.ebs-duration
		position:absolute;
		top:0;
		left:0;
		right:0;
		width:100%;
		text-align:center;
		display:block;

.slides
	.message
		display: flex!important;
		align-items: center;
		justify-content: center;
		height:inherit;

.slide-background.feed.tint
	-webkit-box-shadow: inset 0px 0px 0px 9999em rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 0px 9999em rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 0px 9999em rgba(0,0,0,0.75);

.tint
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
	h1
		text-align:center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height:100%;

.slides
	section
		font-size:1.75em;