//types
include templates/mixins/advert.jade
include templates/mixins/article.jade
include templates/mixins/feed.jade
include templates/mixins/message.jade
include templates/mixins/video.jade

//	include templates/index
//	include templates/head/scripts/index

- var noDataSplash = ['http://whc.unesco.org/uploads/thumbs/site_0428_0001-750-0-20100510122518.jpg','https://englacrosse.s3.amazonaws.com/media/2014/02/Bath-Circus-aerial-view-22.jpg','http://www.hydrock.com/media/cache/44/c0/44c0ed3f91f915b2682c189157ec6c9d.jpg','http://www.tailormadeces.com/imagprod/content/large_image_101.jpg','https://richardwyattblog.files.wordpress.com/2015/05/1-keynsham-007.jpg','https://woodawards.com/wp-content/uploads/2015/08/Keynsham-Civic-Centre-4-890x470.jpg','https://www.st-christophers.co.uk/__data/assets/image/0003/295770/bath-34.jpg']
- var random = Math.floor(Math.random() * noDataSplash.length) + 0

html
	head
		include templates/head/meta/index
		include templates/head/styles/index
		title= location.capitalize()

	body
		.stat-bar
			.stat-left
			.stat-center
				p
			.stat-right
				p.date --/--/--
				p.time --:--
		.reveal
			.slides
				if $.data.length >0
					for bundle in $.data
						if bundle.view_mode === 'article'
							+article(bundle)
						else if bundle.view_mode === 'feed'
							+feed(bundle)
						else if bundle.view_mode === 'video'
							+video(bundle)
						else if bundle.view_mode === 'message'
							+message(bundle)
						else if bundle.view_mode === 'advert_image'
							+advert(bundle)
				else
					section(data-background=noDataSplash[random])

		include templates/head/scripts/index
