//slide types
include src/templates/mixins/advert.pug
include src/templates/mixins/article.pug
include src/templates/mixins/feed.pug
include src/templates/mixins/message.pug
include src/templates/mixins/video.pug

html
	head
		include src/templates/head
		title= locals.location

	body(class!="env-"+_.env||"prod")
		include src/templates/status-bar.partial.pug
		.reveal
			.slides
				section.blank(data-background-color="#0091c8")
					h1= locals.location+" Connect Cast"
					//blank is required for reveal to load correctly
				//remaining content pushed by sse

.overlay
	.loader
		span.loader-text