//slide types
include src/templates/mixins/advert.pug
include src/templates/mixins/article.pug
include src/templates/mixins/feed.pug
include src/templates/mixins/message.pug
include src/templates/mixins/video.pug

html
	head
		include src/templates/head
		title= locals.location

	body
		include src/templates/status-bar.partial.pug
		.reveal
			.slides
				section.blank
					h1= locals.location
					//blank is required for reveal to load correctly
				//remaining content pushed by socketio