script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js')
//script(src='/socket.io/socket.io.js')

-//sync the host and port with the conf object found in server index
- var host = server.host
- var port = server.frontend_port

script.
	window.socket = io.connect('http://#{host}:#{port}');

-//include all scripts after socket io

script(src='scripts/index.js')
-//script(id='gapi' src='https://apis.google.com/js/client.js')

script.
	document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

