//scripts
//script(src="/scripts/socket.io.js")
script(src="/scripts/connect-cast.js")
if _.env == "develop"
    //Live reload in develop.
    //script(src="http://192.168.1.81:35729/livereload.js")
//end scripts
